services:
  redis:
    image: redis:8.4-alpine
    network_mode: host
    volumes:
      - redis:/data
    ports:
      - 6379:6379
    healthcheck:
      test: redis-cli ping
      interval: 1s
      timeout: 3s
      retries: 30

volumes:
  redis:
